.App {
  width: 100%;
  .btn {
    color: hsl(0, 0%, 100%);
    padding: 1rem 2rem;
    border-radius: 20rem;
    // background-color:#50CF70;
    background: linear-gradient(127deg, #27b34a, hsl(192, 97%, 56%));
    transition: all 0.4s;
  }
  &--nav {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    align-items: center;
    // position: sticky;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    &-logo {
    }
    &-navs {
      li {
        display: inline-block;
        margin-left: 2rem;
        a {
          &:link,
          &:visited {
            font-size: 1.4rem;
            transition: all 0.4s;
            padding-bottom: 2.5rem;
            border-bottom: 3px solid transparent;
          }
          &:hover,
          &:active {
            border-bottom: 3px solid #27b34a;
            //    margin-bottom: ;
          }
        }
        // overflow: hidden;
      }
    }
    &-btn {
      // border: 1px solid #50CF70;
      width: 15rem;
      transition: all 0.4s;
      &:hover,
      &:active {
        background: linear-gradient(#66d682e1, hsla(192, 97%, 56%, 0.719));
      }
    }
  }

  &--main {
    width: 100%;
    min-height: 100vh;

    &-header {
      width: 95%;
      margin-left:5%;
      display: flex;
      justify-content: center;
      // align-items: center;
      position: relative;
      .firstDv {
        width: 40%;
        display: flex;
        flex-direction: column;
        // background-color: #27b34a;
        height:100vh;
        justify-content: center;
        
        h1 {
          font-size: 5.5rem;
          font-weight: 300;
          margin-bottom: 2rem;
          color: hsl(233, 26%, 24%);
          //   width: 60%;
        }
        p {
          font-size: 2rem;
          font-weight: 300;
          margin-bottom: 2rem;
          color: hsl(233, 8%, 62%);
        }
        &-btn {
          width: 25rem;
          padding: 2rem 1.5rem;
          text-align: center;
          &:hover,
          &:active {
            background: linear-gradient(#66d682e1, hsla(192, 97%, 56%, 0.719));
          }
        }
      }
      .secondDv {
        width: 100%;
        overflow: hidden;
        background-image: url(../images/bg-intro-desktop.svg);
        background-position: 11rem -14.5rem;
        background-size: cover;
        background-repeat: no-repeat;

        img {
          width: 88%;
          float: right;
          margin-right: -18.2rem;
          margin-top: -18rem;
          overflow: hidden;
        }
      }
    }
    &--WhyChoose {
      // border: 1px solid red;
    }
    &--LatestArticle {
      // border: 1px solid orange;
    }
  }
  &--footer {
    background-color: #342e50;
    display: flex;
    justify-content: space-around;
    padding: 5rem;
    &--container1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .footerLogo {
        width: 20rem;
      }
      &--socials {
        margin-top: 3rem;
        li {
          display: inline-block;
          margin-left: 1rem;
          // a{

          // }
        }
      }
    }
    &--container2 {
      li {
        margin-bottom: 0.5rem;
        a {
          transition: all 0.4s;
          &:hover {
            color: #27b34a;
          }
        }
      }
    }
    &--container3 {
      li {
        margin-bottom: 0.5rem;
        a {
          transition: all 0.4s;
          &:hover {
            color: #27b34a;
          }
        }
      }
    }
    &--container4 {
      // border: 1px solid red;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      p {
        font-size: 1.3rem;
      }
      .btn {
        width: 15rem;
        margin-bottom: 1.5rem;
        transition: all 0.4s;
        &:hover,
        &:active {
          background: linear-gradient(#70d389da, hsla(192, 97%, 56%, 0.719));
        }
      }
    }
  }
}
